.album {text-align:center;text-decoration:none;color:#888888;line-height:18px;font-weight:bold;font-size:14px;letter-spacing:2px;}
.sort {text-align:center;background-image:url(img/marble1.jpg);padding:25px;border:1px solid #888888;width:350px;}
.collapse {padding: 0 25px 50px 25px;display:inline-block;}
.center {margin:auto;text-align:center;}
.caption {padding-top:10px;}
.shadow {border:5px inset rgba(128,128,128,0.5);}
.frame {border:5px outset rgba(128,128,128,0.5);}
input {width:700px;height:40px;text-align:center;}
.content{padding-bottom:2.5rem;}
.subnav:hover > ul {background-color:#ECEFE8;display:block;list-style:none;position:fixed;text-decoration:none;z-index: 50;transition-delay:3s;padding-top:5px;}
.hover-nav {right:635px;top:25px;}
.hover-subnav {right:384px;top:58px;}
.subnav > ul {display:none}
.subnav > ul > li > a {text-decoration:none;color:#000000;font-size:12px;line-height:24px;display:block;margin-left:-21px;float:left;}
.subnav > .hover-nav > li > a {text-align:center;opacity:0.5;display: block;font-size: 12px;text-decoration: none;color: #000000;overflow:visible;width:70.02px;}
.subnav > .hover-subnav > li > a {margin-left:10px;}
.subnav > .hover-subnav > li > a:hover {color:#c1c1c1;}
.subnav > .hover-nav > li > a:hover {color: #c1c1c1}
.portfolio {margin-left:-266px;margin-top:0;}
.newborn {margin-left:-182px;margin-top:0;}
.children {margin-left:-61px;margin-top:0;}
.adult {margin-left:2px;margin-right:-2px;margin-top:0;}
.dropdown {width:300px;z-index:51;}